
.title{
	min-width:200px; 
}
.udtitle{
	text-align: center;
}
.add{
	background-color:#988989;
	
}
.btntd{
	text-align: center
}
.table tbody tr td:nth-child(2):hover {
	cursor: pointer;
	color: blue;
}
.table tbody tr td input[type="checkbox"] {
	margin-top: 7px;
    margin-left: 11px;
}
.navdiv{
	padding-left: 0px;
}
#homeImg{
	width: 63px;
}

#enddel{
	margin-left: -50%;
}
.detailList{
	display: flex;
	justify-content: center; 
	margin-bottom: 10px;
}
.detailList input,#contexttext,div{
	margin-left: 10px;
	width: 90%;
}

.detailList span{
	width: 30%;
}

#contexttext {
    background-color: #8080801f;
    border-style: groove;
}
.detailList div div {
	margin-left: 0px;
	width: 100%;
}
